MusicDatabasegenerator/data/*
MusicDatabasegenerator/data2/*
MusicDatabasegenerator/data3/*

PlaylistTransferTool/data/*
PlaylistTransferTool/data2/*
PlaylistTransferTool/output/*

MusicDatabasegenerator/Properties/*
PlaylistTransferTool/Properties/*

bin/

obj/

.vs/*
packages/*

files_with_limited_data.txt
generation.txt
skipped_duplicates.txt