<connectionStrings>
  <add name="MusicDatabaseGenerator.Properties.Settings.MusicLibraryConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MusicLibrary;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="MusicLibraryContext" connectionString="data source=localhost\SQLEXPRESS;initial catalog=MusicLibrary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>